@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #010101;
  --blue: #1f2e56;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  background: var(--background);
}

.logo {
  width: 70vw;
  height: auto;
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
